<h2>{{formTitle}}</h2>
<form action="{{routePost}}" method="post">
	<p>{{> formTextField value='username' name='Username' required=true }}</p>
	<p>{{> formTextField value='password' name='Password' type='password' required=true }}</p>
  <p>
	<input type='submit' placeholder="0" value='{{formAction}}' />
	</p>
</form>


{{#if error}}
	<p>{{error.status}}</p>
	<p>{{error.message}}</p>
{{/if}}
